<%- include("./partials/header")%>
<h1>library</h1>

<%abd.forEach(function(book,index){ %>
    <p><%= book.name%></p>
    <p><%= book.author%></p>
    <p><%= book.price%></p>
    <p><%= book.language%></p>

    <a href="/update/<%= book._id%>">update</a>
    <a href="/delete<%=book._id%>">delete</a>
<% }) %>

<%- include("./partials/footer")%>


