<%- include("./partials/header")%> <br><br>
<form action="/update/<%= index%>" method="post">

    
    <input type="text" placeholder="book name" name="name" value="<%=gogo.name%>"><br><br>
    <input type="text" placeholder="author name" name="author" value="<%=gogo.author%>"><br><br>
    <input type="text" placeholder="price name" name="price" value="<%=gogo.price%>"><br><br>
    <input type="text" placeholder="language " name="language" value="<%=gogo.language%>"><br><br>
    <button>update</button>
    
</form>
<%- include("./partials/footer")%>
 

